.clear {
  clear: both;
}

.title-block {
  padding: 32px 16px;
}
.title-block__text {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  font-size: 24px;
  padding: 16px 0;
}
.title-block--nopadding {
  padding-top: 0px;
  padding-bottom: 0px;
}
.title-block--nopadding img {
  max-width: 100%;
}

.top-block {
  position: fixed;
  width: 100%;
  background-color: aquamarine;
  z-index: 1;
  -webkit-box-shadow: 0px 9px 16px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 16px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 16px -9px rgba(0, 0, 0, 0.75);
}
.top-block__padding {
  padding: 8px 16px;
  letter-spacing: 4px;
  line-height: 1.5;
}
.top-block__padding__refer-item {
  padding: 8px 16px;
  display: block;
  float: left;
  text-decoration: none;
  color: black;
}
.top-block__padding__refer-item--home {
  float: left;
}
.top-block__padding__menu {
  float: right;
}

.listhouse-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 8px;
}
.listhouse-block__house {
  display: inline;
  padding: 0 8px;
  width: calc(100%/4 - 16px);
  margin-bottom: 16px;
}
.listhouse-block__house--project {
  position: relative;
}
.listhouse-block__house__name {
  display: inline;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  background-color: #000;
  padding: 8px 16px;
}
.listhouse-block__house__name--project {
  position: absolute;
}
.listhouse-block__house__image {
  width: 100%;
}
.listhouse-block__house .name {
  font-size: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
}
.listhouse-block__house .role {
  opacity: 0.6;
}
.listhouse-block__house .description {
  line-height: 1.5;
}

.header-block {
  max-width: 1500px;
  margin: auto;
  position: relative;
  color: #fff;
}
.header-block img {
  width: 100%;
}
.header-block__logo-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 16px;
}
.header-block__logo-block__h1 {
  text-align: center;
}
.header-block__logo-block__text--opacity {
  background-color: #000;
  opacity: 0.75;
  padding: 8px 16px;
}
.header-block__logo-block__text {
  letter-spacing: 4px;
  font-weight: 400;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 36px;
}

.footer-block {
  padding: 16px 0;
  background-color: #000;
}
.footer-block__text {
  text-align: center;
  color: #fff;
}
.footer-block__text__link {
  color: #fff;
}

.form-block {
  line-height: 1.5;
}
.form-block__input {
  padding: 8px;
  display: block;
  width: calc(100% - 16px);
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  font-family: inherit;
  line-height: 1.5;
}

.contactButton-block__button {
  width: 100%;
  border: none;
  padding: 8px 16px;
  font-size: 15px;
  font-family: Verdana, sans-serif;
  text-align: center;
  cursor: pointer;
}
.contactButton-block__button:hover {
  background-color: #ccc;
}

.form-block__sendButton {
  background-color: #000;
  margin: 16px 0px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  font-family: inherit;
}
.form-block__sendButton:hover {
  background-color: #ccc;
  color: #000;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  margin: 0;
}

.container {
  max-width: 1500px;
  margin: auto;
  padding: 8px 16px;
}

@media only screen and (max-width: 992px) {
  .listhouse-block__house {
    width: calc(100%/2 - 16px);
  }
}
@media only screen and (max-width: 600px) {
  .top-block__padding__menu {
    display: none;
  }

  .header-block__logo-block__text--reponsive {
    display: none;
  }

  .listhouse-block__house {
    width: calc(100% - 16px);
  }
}

/*# sourceMappingURL=main.css.map */
