$font: Verdana,
sans-serif;
$fonth1: "Segoe UI",
Arial,
sans-serif;
$fontsize: 15px;
body {
    font-family: $font;
    font-size: $fontsize;
    margin: 0;
}

.clear {
    clear: both;
}

.top-block {
    position: fixed;
    width: 100%;
    background-color: aquamarine;
    z-index: 1;
    -webkit-box-shadow: 0px 9px 16px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 16px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 16px -9px rgba(0, 0, 0, 0.75);
    &__padding {
        padding: 8px 16px;
        letter-spacing: 4px;
        line-height: 1.5;
        &__refer-item {
            padding: 8px 16px;
            display: block;
            float: left;
            text-decoration: none;
            color: black;
            &--home {
                float: left;
            }
        }
        &__menu {
            float: right;
        }
    }
}

.header-block {
    max-width: 1500px;
    margin: auto;
    position: relative;
    color: #fff;
    img {
        width: 100%;
    }
    &__logo-block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 16px;
        &__text--opacity {
            background-color: #000;
            opacity: 0.75;
            padding: 8px 16px;
        }
        &__text {
            letter-spacing: 4px;
            font-weight: 400;
            font-family: $fonth1;
            font-size: 36px;
        }
    }
}