.listhouse-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 8px;
    &__house {
        display: inline;
        padding: 0 8px;
        width: calc(100%/4 - 16px);
        margin-bottom: 16px;
        &--project {
            position: relative;
        }
        &__name {
            display: inline;
            font-size: 15px;
            line-height: 1.5;
            color: #fff;
            background-color: #000;
            padding: 8px 16px;
            &--project {
                position: absolute;
            }
        }
        &__image {
            width: 100%;
        }
        .name {
            font-size: $fonth3;
            font-weight: 400;
            margin: 10px 0;
            font-size: $fontsizeh3;
        }
        .role {
            opacity: 0.60;
        }
        .description {
            line-height: 1.5;
        }
    }
}